[Unit]
Description=Grafana Server
After=network.target

[Service]
Type=simple
User=grafana
Group=users
ExecStart=/usr/share/grafana/bin/grafana server --config=/usr/share/grafana/conf/defaults.ini --homepath=/usr/share/grafana
Restart=on-failure

[Install]
WantedBy=multi-user.target
